* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

@import "./untills/variables";

// main page webstudio
@import "./main-page-components/header";
@import "./main-page-components/main-page";
@import "./main-page-components/modal";
@import "./main-page-components/benefits";
@import "./main-page-components/what-we-do";
@import "./main-page-components/our-team";
@import "./main-page-components/regular-customers";
@import "./main-page-components/footer";

// portfolio page webstudio
@import "./portfolio-components/header";
@import "./portfolio-components/btn";
@import "./portfolio-components/gallery";
@import "./portfolio-components/footer";
