.regular-customers {
    margin: 94px 0;
  }
  
  .regular-customers__header {
    font-family: $main;
    font-size: 36px;
    font-weight: 700;
    line-height: 116%;
    color: #000;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
  }
  
  .regular-customers__list {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 35px;
  }
  
  .regular-customers__link {
    text-decoration: none;
  }
  
  .regular-customers__icon {
    font-size: 56.5px;
    color: $light;
    transition: color 0.5s;
    padding: 16px 32px;
    border: 1px solid $light;
    border-radius: 4px;
    transition: color 0.5s ease, border-color 0.5s ease;
  
    &:hover {
      color: $primary;
      border: 1px solid $primary;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }