.footer {
    padding: 60px 0;
    background-color: $dark;
    list-style: none;
  }
  
  .footer__wrap {
    display: flex;
  }
  
  .footer__list {
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
  }
  
  #unique-element {
    color: #fff;
    transition: color 250ms ease;
  
    &:hover {
      @extend %hover;
    }
  }
  
  .footer__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms ease;
  
    &:hover {
      @extend %hover;
    }
  }
  
  .footer__section--right {
    margin: 12px 0 0 70px;
  }
  
  .footer__header {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 114%;
    margin-bottom: 20px;
  }
  
  .footer__social-link {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__social {
    margin-top: 16px;
    list-style: none;
    display: flex;
  }
  
  .footer__social-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer__social-link {
    text-decoration: none;
  }
  
  .footer__social-icon {
    color: white;
    font-size: 16px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: color 0.5s ease, background-color 250ms ease;
    border-radius: 35px;
  
    &:hover {
      @include hover-icon( #fff, $primary);
    }
  }
  
  /*форма футер */
  
  .footer__section--form {
    margin-left: auto;
    margin-top: 12px;
    float: right;
  }
  
  .footer__header--form {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 114%;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
  }
  
  .footer__form {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer__input {
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(33, 150, 243, 0);
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;
    width: 326px;
    margin-right: 12px;
  }
  
  .footer__submit-btn {
    @extend %footer__submit-btn;
  
    & p {
      font-size: 16px;
      font-weight: 700;
      line-height: 187%;
      margin-right: 10px;
    }
  }