/* Extra Large: 1200px - 1300px */
@media (max-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}



/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .tel-and-mail{
    display: block;
  }
  #header-nav-third-element {
    margin-right: 300px;
  }
  .icon-smartphone {
    margin-right: 10px;
    margin-left: 0;
  }
  .nav-menu{
    align-items: center;
  }
  //PORTFOLIO
  .gallery__list{
    justify-content: space-between;
  }
  .gallery__item{
    width: 300px;
    height: 390px;
  }
  .gallery__card {
    border: 1px solid #EEEEEE;
    flex: 1 1 calc((100% - 40px) / 3); /* Три колонки */
    box-sizing: border-box;
  }
  .gallery__img{
    max-width: 100%;
    height: auto;
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    width: 720px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }

  //MAIN PAGE
//header
.tel-and-mail{
  display: block;
}
#header-nav-third-element {
  margin-right: 100px;
}
.nav-menu{
  align-items: center;
}

  //modal

  .form__input {
    margin-bottom: 0;
  }

  .form__input-container--name input[type="text"],
  .form__input-container--phone input[type="tel"],
  .form__input-container--email input[type="email"] {
    padding-left: 32px;
  }

  .form {
    width: 370px;
  }

  .form__label--checkbox {
    display: block;
  }

  // benefits
  .benefits {
    justify-content: center;

    .benefits__item {
      width: 340px;
      border: 1px solid #eeeeee;
      box-sizing: border-box;
    }
  }

  //what we do
  .what-we-do__wrap {
    display: flex;
    flex-wrap: wrap;

    .what-we-do__thumb {
      flex-basis: calc((100% - 20px) / 2);
    }

    .what-we-do__img {
      height: auto;
    }
  }

  // our team
  .our-team-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;

    .our-team-wrap__item {
      flex-basis: calc((100% - 20px) / 2);
      box-sizing: border-box;

      .figure__img {
        width: 100%;
        height: auto;
      }
    }
  }

  // regular-customers
  .regular-customers__list {
    flex-wrap: wrap;
    gap: 20px;

    .regular-customers__item:nth-last-child(-n + 3) {
      margin-top: 35px;
    }

    .regular-customers__icon {
      padding: 16px 60px;
    }
  }

  //footer

  .footer__wrap {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  //footer__sectiion-left
  .footer__section--left {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  //footer__sectiion-right
  .footer__section--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  //footer__section--form
  .footer__section--form {
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 166px;

    .footer__header--form {
      text-align: center;
    }

    .footer__form {
      flex-direction: column;
      align-items: center;
    }

    .footer__section--form--item {
      flex-basis: calc((100% - 20px) / 2);
    }
  }

  // PORTFOLIO

  //gallery
  .gallery__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
  }
  .gallery__item {
    flex-basis: calc((100% - 20px) / 2);
    box-sizing: border-box;
  }
  .gallery__item{
    width: 354px;
    height: 440px;
  }
  .gallery__img {
    width: 100%;
    height: auto;
  }
}




/* Small: 0px - 480px */
@media (max-width: 767px) {
  .container {
    max-width: 540px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }

  //MAIN PAGE
  //main-page
  .main-page {
    background-position-x: center;

    .main-page__header {
      width: 360px;
      font-size: 26px;
    }
  }

  //modal
  .form__label--checkbox {
    display: block;
  }

  .form {
    width: 370px;
  }

  //benefits
  .benefits__item {
    width: 450px;
    height: auto;
  }

  //what-we-do
  .what-we-do__header {
    font-size: 28px;

    .what-we-do__wrap {
      display: block;
      flex-direction: column;
      justify-content: center;
    }

    .what-we-do__thumb {
      display: block;
      flex-basis: 100%;
    }

    .what-we-do__img {
      width: 70%;
      height: auto;
    }
  }

  //our-team
  .our-team {
    display: block;
    flex-direction: column;
    /* Розміщує елементи в колонку */
    justify-content: center;

    .our-team-wrap__item {
      flex-basis: 80%;
    }
  }

  //regular-customers
  .regular-customers__list {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    .regular-customers__item {
      margin-top: 35px;
    }

    .regular-customers__icon {
      font-size: 40px;
      padding: 16px 50px;
    }
  }

  //footer
  .footer__wrap {
    flex-direction: column;

    .footer__section--right {
      margin-left: 0;
    }

    .footer__section--form {
      margin-right: 5px;
    }
  }

  //PORTFOLIO
  //button
.button{
  .container {
    display: flex;
    justify-content: flex-start; /* Вирівнювання елементів по лівому краю */
  }
}
  //gallery
  .gallery__list{
    justify-content: space-between;
  }
  .gallery__item{
    width: 300px;
    height: 340px;
  }
  .gallery__card {
    border: 1px solid #EEEEEE;
    flex: 1 1 calc((100% - 40px) / 2); /* Дві колонки */
    box-sizing: border-box;
  }
  .gallery__img{
    max-width: 100%;
    height: auto;
  }
}


/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    max-width: 100%;
  }
  .gallery__list{
    display: block;
    flex-direction: column;
    /* Розміщує елементи в колонку */
    justify-content: center;
  }
  .gallery__card {
    width: 290px;
  height: auto;
  margin-top: 30px;
  }
}